# List required packages in this file, one per line.
numpy
matplotlib
pandas
scipy
lmfit
spec2nexus
ipython
numpydoc
sphinx_copybutton
suitcase-csv
suitcase-json-metadata
intake!=0.6.1
databroker
databroker-pack
