python>=3.8
scipy
numpy
pandas
databroker<=1.2.5
pip
databroker-pack
bluesky-live
flake8
lmfit
spec2nexus
suitcase-csv
suitcase-json-metadata
suitcase-utils=0.5.3
ipython
numpydoc
pyresttable
area-detector-handlers
dask
hdf5plugin
apstools>=1.6.0
xraydb
scikit-image
pims>=0.6.1
sphinx
sphinx-rtd-theme
super-state-machine
sphinx-copybutton